Repository microsoft/DirectXShaderCompiler, pull requests merged in 2018-07, with the labels that each got.

#1371 [spirv] Support struct as Buffer template type
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
  tools/clang/lib/SPIRV/SPIRVEmitter.h
  tools/clang/lib/SPIRV/TypeTranslator.cpp
  tools/clang/lib/SPIRV/TypeTranslator.h
  tools/clang/test/CodeGenSPIRV/op.buffer.access.hlsl
  tools/clang/test/CodeGenSPIRV/op.texture.access.hlsl
  tools/clang/test/CodeGenSPIRV/type.buffer.hlsl
  tools/clang/test/CodeGenSPIRV/type.buffer.struct.error1.hlsl
  tools/clang/test/CodeGenSPIRV/type.buffer.struct.error2.hlsl
  tools/clang/test/CodeGenSPIRV/type.buffer.struct.error3.hlsl
  tools/clang/test/CodeGenSPIRV/type.rwbuffer.struct.error.hlsl
  tools/clang/test/CodeGenSPIRV/type.texture.hlsl
  tools/clang/unittests/SPIRV/CodeGenSPIRVTest.cpp
Labels: spirv

#1400 [spirv] Handle CalculateLevelOfDetailUnclamped.
  docs/SPIR-V.rst
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
  tools/clang/lib/SPIRV/SPIRVEmitter.h
  tools/clang/test/CodeGenSPIRV/texture.calculate-lod-unclamped.hlsl
  tools/clang/unittests/SPIRV/CodeGenSPIRVTest.cpp
Labels: spirv

#1407 [linux-port] Enable Travis Linux and macOS bots.
  .travis.yml
  README.md
Labels: ci, linux-port

#1409 [linux-port] Add dxc -spirv test
  .travis.yml
  tools/clang/test/CodeGenSPIRV/passthru-ps.spv
Labels: ci

#1410 Fix lambda captures in dxilcontainer serializer
  lib/HLSL/DxilContainerAssembler.cpp
Labels: bug

#1411 [linux-port] Correct char convert size in/out
  include/dxc/Support/WinAdapter.h
  lib/DxcSupport/Unicode.cpp
Labels: linux-port

#1406 Add 'center' keyword; allow 'sample', 'precise', 'center' and 'globallycoherent' as identifiers
  tools/clang/include/clang/Basic/Attr.td
  tools/clang/include/clang/Basic/TokenKinds.def
  tools/clang/lib/Parse/ParseDecl.cpp
  tools/clang/lib/Parse/ParseExpr.cpp
  tools/clang/lib/Parse/ParseTentative.cpp
  tools/clang/lib/Sema/SemaHLSL.cpp
  tools/clang/test/CodeGenHLSL/quick-test/center_kwd.hlsl
  tools/clang/test/CodeGenHLSL/quick-test/sample_kwd.hlsl
  tools/clang/test/HLSL/varmods-syntax.hlsl
Labels: bug

#1412 [linux-port] Handle register number limits
  tools/clang/lib/Parse/ParseDecl.cpp
Labels: linux-port

#1414 Initialize all bits in IncludedFileIndexToHandle
  tools/clang/tools/dxcompiler/dxcfilesystem.cpp
Labels: bug

#1421 [linux-port] Varargs in StringCchPrintfA
  lib/DxcSupport/WinFunctions.cpp
Labels: linux-port

#1415 [linux-port] Win adapter changes for HLSL tests
  include/dxc/Support/WinAdapter.h
  include/dxc/Support/WinFunctions.h
  lib/DxcSupport/WinFunctions.cpp
Labels: linux-port

#1420 [linux-port] Enhance FS interface support
  include/dxc/Support/WinAdapter.h
  include/llvm/Support/MSFileSystem.h
  lib/MSSupport/MSFileSystemImpl.cpp
  lib/Support/MSFileSystemBasic.cpp
  lib/Support/MemoryBuffer.cpp
  lib/Support/Unix/Path.inc
  lib/Support/Unix/Process.inc
  tools/clang/tools/dxcompiler/dxcfilesystem.cpp
Labels: linux-port

#1413 [linux-port] gtest interface for HLSL tests
  tools/clang/unittests/CMakeLists.txt
  tools/clang/unittests/HLSL/CMakeLists.txt
  tools/clang/unittests/HLSL/HLSLTestOptions.cpp
  tools/clang/unittests/HLSL/HLSLTestOptions.h
  tools/clang/unittests/HLSL/TestMain.cpp
Labels: linux-port

#1428 [linux-port] Unix Heap* allocation implementation
  include/dxc/Support/WinAdapter.h
  include/dxc/Support/WinFunctions.h
  lib/DxcSupport/FileIOHelper.cpp
  lib/DxcSupport/WinFunctions.cpp
  tools/clang/tools/dxc/dxc.cpp
Labels: enhancement, linux-port

#1437 [linux-port] Fix warnings in intellisense classes
  tools/clang/tools/libclang/dxcisenseimpl.cpp
  tools/clang/tools/libclang/dxcisenseimpl.h
Labels: enhancement, linux-port

#1429 [spirv] Add -fvk-invert-w
  docs/SPIR-V.rst
  include/dxc/Support/HLSLOptions.h
  include/dxc/Support/HLSLOptions.td
  lib/DxcSupport/HLSLOptions.cpp
  tools/clang/include/clang/SPIRV/EmitSPIRVOptions.h
  tools/clang/lib/SPIRV/DeclResultIdMapper.cpp
  tools/clang/lib/SPIRV/DeclResultIdMapper.h
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
  tools/clang/test/CodeGenSPIRV/vk.cloption.invert-w.ps.hlsl
  tools/clang/tools/dxcompiler/dxcompilerobj.cpp
  tools/clang/unittests/SPIRV/CodeGenSPIRVTest.cpp
Labels: spirv

#1444 Consolidate utility functions for HLSL tests
  tools/clang/unittests/HLSL/CMakeLists.txt
  tools/clang/unittests/HLSL/CompilerTest.cpp
  tools/clang/unittests/HLSL/DXIsenseTest.cpp
  tools/clang/unittests/HLSL/DxcTestUtils.cpp
  tools/clang/unittests/HLSL/DxcTestUtils.h
  tools/clang/unittests/HLSL/HlslTestUtils.h
  tools/clang/unittests/HLSL/OptimizerTest.cpp
  tools/clang/unittests/HLSL/RewriterTest.cpp
  tools/clang/unittests/HLSL/ValidationTest.cpp
  tools/clang/unittests/HLSL/VerifierTest.cpp
Labels: enhancement

#1445 [linux-port] Enable AllocatorTest for Unix
  .travis.yml
  tools/clang/unittests/HLSL/AllocatorTest.cpp
  tools/clang/unittests/HLSL/CMakeLists.txt
Labels: linux-port, test

#1448 [spirv] Rename -fvk-invert-w to -fvk-use-dx-position-w
  docs/SPIR-V.rst
  include/dxc/Support/HLSLOptions.h
  include/dxc/Support/HLSLOptions.td
  lib/DxcSupport/HLSLOptions.cpp
  tools/clang/test/CodeGenSPIRV/vk.cloption.invert-w.ds.hlsl
  tools/clang/test/CodeGenSPIRV/vk.cloption.invert-w.ps.hlsl
Labels: spirv

#1446 [linux-port] Enable DXIsenseTest on Unix
  include/dxc/Support/WinAdapter.h
  tools/clang/unittests/HLSL/CMakeLists.txt
  tools/clang/unittests/HLSL/DXIsenseTest.cpp
Labels: linux-port, test

#1449 Remove unneeded object files from HLSL tests
  tools/clang/unittests/HLSL/CMakeLists.txt
Labels: enhancement

#1451 [linux-port] Enable ObjectTest for Unix
  tools/clang/unittests/HLSL/CMakeLists.txt
  tools/clang/unittests/HLSL/Objects.cpp
Labels: linux-port, test

#1452 [linux-port] Enable VerifierTest for Unix
  tools/clang/unittests/HLSL/CMakeLists.txt
  tools/clang/unittests/HLSL/TestMain.cpp
  tools/clang/unittests/HLSL/VerifierTest.cpp
Labels: linux-port, test

#1453 [spirv] Embed preprocessed source code when -Zi
  tools/clang/include/clang/SPIRV/InstBuilder.h
  tools/clang/include/clang/SPIRV/ModuleBuilder.h
  tools/clang/include/clang/SPIRV/Structure.h
  tools/clang/lib/SPIRV/InstBuilderAuto.cpp
  tools/clang/lib/SPIRV/InstBuilderManual.cpp
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
  tools/clang/lib/SPIRV/Structure.cpp
  tools/clang/test/CodeGenSPIRV/spirv.debug.opsource.hlsl
  tools/clang/tools/dxcompiler/dxcompilerobj.cpp
Labels: spirv

#1461 [spirv] Support for post_depth_coverage extension.
  docs/SPIR-V.rst
  tools/clang/include/clang/Basic/Attr.td
  tools/clang/include/clang/SPIRV/FeatureManager.h
  tools/clang/lib/SPIRV/FeatureManager.cpp
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
  tools/clang/lib/Sema/SemaHLSL.cpp
  tools/clang/test/CodeGenSPIRV/attribute.postdepthcoverage.ps.hlsl
  tools/clang/unittests/SPIRV/CodeGenSPIRVTest.cpp
Labels: spirv

#1468 [linux-port] Enable ValidationTest for Unix
  lib/Bitcode/Reader/BitcodeReader.cpp
  tools/clang/unittests/HLSL/CMakeLists.txt
  tools/clang/unittests/HLSL/FileCheckerTest.cpp
  tools/clang/unittests/HLSL/ValidationTest.cpp
Labels: linux-port
