Repository microsoft/DirectXShaderCompiler, pull requests merged in 2018-11, with the labels that each got.

#1062 Barycentrics support execution test
  tools/clang/test/HLSL/ShaderOpArith.xml
  tools/clang/unittests/HLSL/ExecutionTest.cpp
Labels: test

#1735 [spirv] Fix Linux/macOS build.
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
Labels: linux-port

#1730 [spirv] Support non-fp MAD intrinsic function.
  tools/clang/include/clang/SPIRV/ModuleBuilder.h
  tools/clang/lib/SPIRV/ModuleBuilder.cpp
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
  tools/clang/lib/SPIRV/SPIRVEmitter.h
  tools/clang/test/CodeGenSPIRV/intrinsics.mad.hlsl
Labels: spirv
