Repository microsoft/DirectXShaderCompiler, pull requests merged in 2018-06, with the labels that each got.

#1333 [linux-port] Remove/dummy unused class components
  lib/HLSL/DxilGenerationPass.cpp
  tools/clang/lib/Parse/HLSLRootSignature.cpp
  tools/clang/lib/Parse/HLSLRootSignature.h
  tools/clang/lib/SPIRV/DeclResultIdMapper.h
  tools/clang/lib/SPIRV/GlPerVertex.cpp
  tools/clang/lib/SPIRV/GlPerVertex.h
  tools/clang/tools/dxcompiler/dxcompilerobj.cpp
Labels: enhancement, linux-port

#1325 [linux-port] Dummy access to unused variables
  lib/HLSL/ComputeViewIdState.cpp
  lib/HLSL/DxilGenerationPass.cpp
  lib/HLSL/DxilOperations.cpp
  lib/HLSL/DxilValidation.cpp
  lib/HLSL/HLSignatureLower.cpp
  tools/clang/include/clang/Frontend/CompilerInstance.h
  tools/clang/lib/AST/Decl.cpp
  tools/clang/lib/Sema/SemaChecking.cpp
  tools/clang/lib/Sema/SemaDeclObjC.cpp
  tools/clang/lib/Sema/SemaHLSL.cpp
Labels: enhancement, linux-port

#1326 [linux-port] Correct conditional groupings
  lib/DxcSupport/dxcapi.use.cpp
  lib/HLSL/DxilOperations.cpp
  lib/HLSL/DxilValidation.cpp
  lib/HLSL/HLModule.cpp
  lib/Transforms/IPO/PassManagerBuilder.cpp
  lib/Transforms/Scalar/ScalarReplAggregatesHLSL.cpp
  tools/clang/lib/AST/DeclPrinter.cpp
  tools/clang/lib/CodeGen/CGCall.cpp
  tools/clang/lib/CodeGen/CodeGenModule.cpp
  tools/clang/lib/Lex/LiteralSupport.cpp
  tools/clang/lib/Lex/TokenLexer.cpp
  tools/clang/lib/Parse/ParseExpr.cpp
  tools/clang/lib/Parse/ParseTemplate.cpp
  tools/clang/lib/Parse/Parser.cpp
  tools/clang/lib/SPIRV/DeclResultIdMapper.cpp
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
  tools/clang/lib/SPIRV/TypeTranslator.cpp
  tools/clang/lib/Sema/SemaHLSL.cpp
  tools/clang/lib/Sema/SemaOverload.cpp
Labels: enhancement, linux-port

#1332 [linux-port] disable covered-switch-default warning
  cmake/modules/HandleLLVMOptions.cmake
  external/CMakeLists.txt
Labels: enhancement, linux-port

#1318 [linux-port] Replace tests of never null addresses
  lib/HLSL/ComputeViewIdState.cpp
  lib/HLSL/DxilOperations.cpp
  lib/HLSL/DxilTypeSystem.cpp
Labels: bug, enhancement

#1327 [linux-port] Evade unused in LLVM code
  lib/Analysis/ConstantFolding.cpp
  lib/DxcSupport/dxcapi.use.cpp
  lib/IR/AsmWriter.cpp
  lib/IR/AutoUpgrade.cpp
  lib/IR/DiagnosticInfo.cpp
  lib/IR/Function.cpp
  lib/IR/LegacyPassManager.cpp
  lib/ProfileData/CoverageMappingReader.cpp
  lib/Support/APFloat.cpp
  lib/Support/CommandLine.cpp
  lib/Support/GraphWriter.cpp
  lib/Transforms/IPO/PassManagerBuilder.cpp
  lib/Transforms/InstCombine/InstCombineCalls.cpp
  lib/Transforms/Utils/SimplifyCFG.cpp
  tools/clang/lib/Basic/Targets.cpp
  tools/clang/lib/CodeGen/CGCall.cpp
  tools/clang/lib/CodeGen/CGCleanup.cpp
  tools/clang/lib/CodeGen/CGDebugInfo.cpp
  tools/clang/lib/CodeGen/CGExprScalar.cpp
  tools/clang/lib/CodeGen/CodeGenModule.cpp
  tools/clang/lib/CodeGen/ItaniumCXXABI.cpp
  tools/clang/lib/Frontend/ASTUnit.cpp
  tools/clang/lib/Frontend/CompilerInstance.cpp
  tools/clang/lib/Frontend/CompilerInvocation.cpp
  tools/clang/lib/Parse/ParseStmtAsm.cpp
  tools/clang/lib/Sema/SemaChecking.cpp
  tools/clang/lib/Sema/SemaDeclObjC.cpp
  tools/clang/lib/Sema/SemaExceptionSpec.cpp
  tools/clang/lib/Sema/SemaExpr.cpp
  tools/clang/lib/Sema/SemaExprObjC.cpp
  tools/clang/lib/Sema/SemaTemplateDeduction.cpp
  tools/clang/tools/libclang/CIndex.cpp
  utils/TableGen/FixedLenDecoderEmitter.cpp
Labels: enhancement, linux-port

#1345 [spirv] Append must load pointers first
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
  tools/clang/test/CodeGenSPIRV/method.append-structured-buffer.append.hlsl
Labels: spirv

#1328 [linux-port] Casts for compares and assigns
  lib/DxcSupport/Global.cpp
  lib/HLSL/DxilAddPixelHitInstrumentation.cpp
  lib/HLSL/DxilRootSignature.cpp
  lib/HLSL/DxilShaderAccessTracking.cpp
  lib/HLSL/PauseResumePasses.cpp
  tools/clang/lib/SPIRV/DeclResultIdMapper.cpp
  tools/clang/lib/SPIRV/GlPerVertex.cpp
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
  tools/clang/lib/Sema/SemaHLSL.cpp
  tools/clang/tools/dxcompiler/dxcdisassembler.cpp
Labels: enhancement, linux-port

#1331 [linux-port] de-const variables not used as const
  include/dxc/HLSL/DxilRootSignature.h
Labels: enhancement, linux-port

#1338 [linux-port] Use cross-platform TLS methods
  lib/DxcSupport/dxcmem.cpp
Labels: enhancement, linux-port

#1321 [linux-port] Correct problem initializations
  include/dxc/HLSL/DxilSigPoint.inl
  lib/HLSL/DxilDebugInstrumentation.cpp
  lib/HLSL/DxilMetadataHelper.cpp
  lib/HLSL/DxilModule.cpp
  lib/HLSL/DxilOperations.cpp
  lib/HLSL/DxilSignatureElement.cpp
  lib/HLSL/DxilTypeSystem.cpp
  lib/HLSL/DxilValidation.cpp
  lib/HLSL/HLOperationLower.cpp
  lib/HLSL/HLOperationLowerExtension.cpp
  lib/HLSL/HLSignatureLower.cpp
  tools/clang/lib/CodeGen/BackendUtil.cpp
  tools/clang/lib/CodeGen/CGHLSLMS.cpp
  tools/clang/lib/CodeGen/CGLoopInfo.cpp
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
  tools/clang/lib/SPIRV/TypeTranslator.cpp
  tools/clang/tools/dxcompiler/dxcfilesystem.cpp
  tools/clang/tools/libclang/CIndex.cpp
Labels: enhancement, linux-port

#1346 [linux-port] Add missing case statements
  lib/HLSL/DxilContainerAssembler.cpp
  lib/HLSL/DxilConvergent.cpp
  lib/HLSL/DxilDebugInstrumentation.cpp
  lib/HLSL/HLMatrixLowerPass.cpp
  lib/HLSL/HLOperations.cpp
  lib/HLSL/HLSignatureLower.cpp
  lib/Transforms/Scalar/ScalarReplAggregatesHLSL.cpp
  tools/clang/lib/AST/ASTContext.cpp
  tools/clang/lib/AST/ASTContextHLSL.cpp
  tools/clang/lib/AST/HlslTypes.cpp
  tools/clang/lib/AST/ItaniumMangle.cpp
  tools/clang/lib/AST/TypePrinter.cpp
  tools/clang/lib/CodeGen/CGDebugInfo.cpp
  tools/clang/lib/CodeGen/CGDecl.cpp
  tools/clang/lib/CodeGen/CGExpr.cpp
  tools/clang/lib/CodeGen/CGExprComplex.cpp
  tools/clang/lib/CodeGen/CGHLSLMS.cpp
  tools/clang/lib/CodeGen/CGStmt.cpp
  tools/clang/lib/CodeGen/ItaniumCXXABI.cpp
  tools/clang/lib/Frontend/FrontendActions.cpp
  tools/clang/lib/Parse/HLSLRootSignature.cpp
  tools/clang/lib/SPIRV/DeclResultIdMapper.cpp
  tools/clang/lib/SPIRV/FeatureManager.cpp
  tools/clang/lib/SPIRV/GlPerVertex.cpp
  tools/clang/lib/SPIRV/ModuleBuilder.cpp
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
  tools/clang/lib/SPIRV/TypeTranslator.cpp
  tools/clang/lib/Sema/DeclSpec.cpp
  tools/clang/lib/Sema/SemaHLSL.cpp
  tools/clang/lib/Sema/SemaTemplateVariadic.cpp
  tools/clang/lib/Sema/SemaType.cpp
  tools/clang/tools/dxcompiler/dxcdisassembler.cpp
  tools/clang/tools/libclang/CIndex.cpp
  tools/clang/tools/libclang/CXCursor.cpp
Labels: enhancement, linux-port

#1347 Update to VS 2017 and CMake 3.11.2
  appveyor.yml
  cmake/modules/FindDiaSDK.cmake
  utils/hct/hctbuild.cmd
  utils/hct/hctstart.cmd
Labels: build

#1315 [linux-port] Remove unused from HLSL code
  lib/HLSL/DxilDebugInstrumentation.cpp
  lib/HLSL/DxilGenerationPass.cpp
  lib/HLSL/DxilRootSignature.cpp
  lib/HLSL/DxilValidation.cpp
  lib/HLSL/HLMatrixLowerPass.cpp
  lib/HLSL/HLModule.cpp
  lib/HLSL/HLOperationLower.cpp
  lib/HLSL/HLSignatureLower.cpp
  lib/IR/LegacyPassManager.cpp
  lib/IR/Verifier.cpp
  lib/Support/CommandLine.cpp
  lib/Support/Timer.cpp
  lib/Transforms/IPO/MergeFunctions.cpp
  lib/Transforms/Scalar/ScalarReplAggregatesHLSL.cpp
  tools/clang/lib/AST/ASTContextHLSL.cpp
  tools/clang/lib/AST/ExprConstant.cpp
  tools/clang/lib/AST/HlslTypes.cpp
  tools/clang/lib/CodeGen/CGExprAgg.cpp
  tools/clang/lib/CodeGen/CGExprCXX.cpp
  tools/clang/lib/CodeGen/CGHLSLMS.cpp
  tools/clang/lib/Parse/HLSLRootSignature.cpp
  tools/clang/lib/Parse/ParseDecl.cpp
  tools/clang/lib/SPIRV/DeclResultIdMapper.cpp
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
  tools/clang/lib/SPIRV/TypeTranslator.cpp
  tools/clang/lib/Sema/SemaExprObjC.cpp
  tools/clang/lib/Sema/SemaHLSL.cpp
  tools/clang/lib/Sema/SemaOpenMP.cpp
  tools/clang/tools/dxcompiler/dxcdisassembler.cpp
Labels: enhancement, linux-port

#1314 [linux-port] Introduce Windows "adapter" headers.
  include/dxc/HLSL/DxilContainer.h
  include/dxc/HLSL/DxilRootSignature.h
  include/dxc/HLSL/DxilSignatureElement.h
  include/dxc/HLSL/DxilValidation.h
  include/dxc/Support/Global.h
  include/dxc/Support/WinAdapter.h
  include/dxc/Support/exception.h
  include/dxc/dxcapi.h
  include/dxc/dxcisense.h
  include/llvm-c/Core.h
  include/llvm-c/Disassembler.h
  include/llvm/ADT/STLExtras.h
  include/llvm/Analysis/ConstantFolding.h
  include/llvm/MC/MCStreamer.h
  include/llvm/Support/ConvertUTF.h
  include/llvm/Support/FileSystem.h
  include/llvm/Support/Format.h
  include/llvm/Support/MathExtras.h
  include/llvm/TableGen/Main.h
  lib/DxcSupport/Unicode.cpp
  lib/DxcSupport/dxcmem.cpp
  lib/HLSL/DxilShaderAccessTracking.cpp
  lib/HLSL/DxilShaderModel.cpp
  lib/HLSL/HLModule.cpp
  lib/HLSL/WaveSensitivityAnalysis.cpp
  lib/IR/Core.cpp
  lib/MSSupport/MSFileSystemImpl.cpp
  lib/Support/ConvertUTFWrapper.cpp
  lib/Support/ErrorHandling.cpp
  lib/Support/Program.cpp
  lib/Support/Windows/MSFileSystem.inc.cpp
  lib/Support/regerror.c
  lib/Support/regex_impl.h
  tools/clang/include/clang/AST/HlslTypes.h
  tools/clang/lib/Sema/SemaHLSL.cpp
  tools/clang/tools/dxc/dxc.cpp
  tools/clang/tools/dxcompiler/dxcdia.cpp
  tools/clang/tools/dxcompiler/dxcompilerobj.cpp
  tools/clang/tools/dxcompiler/dxcvalidator.cpp
  tools/clang/tools/dxcompiler/dxillib.h
  tools/clang/utils/TableGen/TableGen.cpp
  utils/TableGen/TableGen.cpp
Labels: linux-port

#1352 [linux-port] Minor changes towards cross-platform compilation.
  include/dxc/Support/ErrorCodes.h
  include/dxc/Support/Global.h
  include/dxc/Support/microcom.h
  include/dxc/dxcapi.internal.h
  lib/HLSL/HLOperationLower.cpp
  lib/Linker/LinkModules.cpp
  lib/Support/MSFileSystemBasic.cpp
  lib/Support/regerror.c
  tools/clang/include/clang/Frontend/FrontendActions.h
  tools/clang/lib/Basic/LangOptions.cpp
  tools/clang/tools/dxcompiler/dxcfilesystem.cpp
  tools/clang/tools/dxcompiler/dxcutil.cpp
Labels: enhancement, linux-port

#1354 [spirv] Fix accessing (RW)Buffer sub-element using [][]
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
  tools/clang/test/CodeGenSPIRV/op.buffer.access.hlsl
Labels: spirv

#1359 [linux-port] Handling of target triple.
  include/llvm/Support/Host.h
  lib/Support/Windows/Host.inc
Labels: linux-port

#1361 [linux-port] Eliminate warnings on release builds
  include/dxc/Support/Global.h
  lib/HLSL/ComputeViewIdState.cpp
  lib/HLSL/DxilDebugInstrumentation.cpp
  lib/HLSL/DxilGenerationPass.cpp
  lib/HLSL/HLMatrixLowerPass.cpp
  lib/HLSL/HLOperationLower.cpp
  lib/HLSL/HLSignatureLower.cpp
  lib/Transforms/Scalar/IndVarSimplify.cpp
  lib/Transforms/Scalar/PlaceSafepoints.cpp
  lib/Transforms/Scalar/SROA.cpp
  lib/Transforms/Scalar/ScalarReplAggregatesHLSL.cpp
  tools/clang/lib/CodeGen/CGCall.cpp
  tools/clang/lib/CodeGen/CGHLSLMS.cpp
  tools/clang/lib/Frontend/FrontendActions.cpp
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
  tools/clang/lib/SPIRV/TypeTranslator.cpp
  tools/clang/lib/Sema/SemaDecl.cpp
Labels: enhancement, linux-port

#1363 [spirv] Fix counter_binding precedence and test
  tools/clang/lib/SPIRV/DeclResultIdMapper.cpp
  tools/clang/test/CodeGenSPIRV/vk.binding.precedence.hlsl
  tools/clang/unittests/SPIRV/CodeGenSPIRVTest.cpp
Labels: spirv

#1357 [linux-port] Add MultiByte<->WideChar methods.
  include/dxc/Support/Unicode.h
  lib/DxcSupport/Unicode.cpp
Labels: linux-port

#1358 [linux-port] Complete the Windows adapter code.
  include/dxc/Support/WinAdapter.h
  include/dxc/Support/WinFunctions.h
  include/dxc/Support/WinIncludes.h
  lib/DxcSupport/CMakeLists.txt
  lib/DxcSupport/WinAdapter.cpp
  lib/DxcSupport/WinFunctions.cpp
Labels: linux-port

#1372 [linux-port] Enable some code. Disable some code.
  include/dxc/Support/HLSLOptions.h
  include/dxc/dxcisense.h
  include/llvm/PassRegistry.h
  include/llvm/Support/Mutex.h
  lib/DxcSupport/HLSLOptions.cpp
  lib/DxcSupport/dxcapi.use.cpp
  lib/IR/PassRegistry.cpp
  lib/Support/ErrorHandling.cpp
  lib/Support/assert.cpp
  tools/clang/include/clang/Frontend/FrontendActions.h
  tools/clang/lib/Frontend/FrontendActions.cpp
  tools/clang/tools/dxcompiler/dxcfilesystem.cpp
  tools/clang/tools/libclang/dxcrewriteunused.cpp
Labels: linux-port

#1373 [spirv] Avoid writing unused stage output variable back
  tools/clang/lib/SPIRV/DeclResultIdMapper.cpp
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
  tools/clang/test/CodeGenSPIRV/bezier.domain.hlsl2spv
  tools/clang/test/CodeGenSPIRV/bezier.hull.hlsl2spv
  tools/clang/test/CodeGenSPIRV/empty-struct-interface.vs.hlsl2spv
  tools/clang/test/CodeGenSPIRV/hs.pcf.primitive-id.1.hlsl
  tools/clang/test/CodeGenSPIRV/hs.pcf.view-id.1.hlsl
  tools/clang/test/CodeGenSPIRV/semantic.dispatch-thread-id.int2.cs.hlsl
  tools/clang/test/CodeGenSPIRV/semantic.dispatch-thread-id.uint.cs.hlsl
  tools/clang/test/CodeGenSPIRV/semantic.domain-location.ds.hlsl
  tools/clang/test/CodeGenSPIRV/semantic.group-id.int2.cs.hlsl
  tools/clang/test/CodeGenSPIRV/semantic.group-id.uint.cs.hlsl
  tools/clang/test/CodeGenSPIRV/semantic.group-thread-id.int2.cs.hlsl
  tools/clang/test/CodeGenSPIRV/semantic.group-thread-id.uint.cs.hlsl
  tools/clang/test/CodeGenSPIRV/semantic.inner-coverage.ps.hlsl
  tools/clang/test/CodeGenSPIRV/spirv.entry-function.inout.hlsl
  tools/clang/test/CodeGenSPIRV/spirv.entry-function.unused-param.hlsl
  tools/clang/test/CodeGenSPIRV/spirv.interface.ds.hlsl
  tools/clang/test/CodeGenSPIRV/spirv.interface.gs.hlsl
  tools/clang/test/CodeGenSPIRV/spirv.interface.hs.hlsl
  tools/clang/test/CodeGenSPIRV/spirv.interface.ps.hlsl
  tools/clang/test/CodeGenSPIRV/spirv.interface.vs.hlsl
  tools/clang/unittests/SPIRV/CodeGenSPIRVTest.cpp
Labels: spirv

#1375 [linux-port] Add missing header include or class declaration.
  lib/HLSL/DxilMetadataHelper.cpp
  lib/HLSL/DxilRootSignature.cpp
  tools/clang/include/clang/AST/HlslTypes.h
  tools/clang/lib/Parse/HLSLRootSignature.cpp
  tools/clang/tools/dxcompiler/dxcdisassembler.cpp
Labels: linux-port

#1376 [linux-port] Final update to cmake files for cross-platform compilation.
  tools/CMakeLists.txt
  tools/clang/tools/CMakeLists.txt
  tools/clang/tools/dxcompiler/CMakeLists.txt
  tools/clang/unittests/CMakeLists.txt
  utils/cmake-predefined-config-params
Labels: linux-port

#1374 [linux-port] FileSystem and IO.
  include/dxc/Support/WinAdapter.h
  include/dxc/Support/WinFunctions.h
  lib/DxcSupport/FileIOHelper.cpp
  lib/DxcSupport/WinFunctions.cpp
  lib/MSSupport/MSFileSystemImpl.cpp
  lib/Support/Unix/Path.inc
Labels: linux-port

#1378 [linux-port] Fix gcc6.4 alpine(and others) compile
  include/llvm/Analysis/TargetLibraryInfo.def
  lib/Analysis/TargetLibraryInfo.cpp
  lib/Transforms/IPO/FunctionAttrs.cpp
Labels: enhancement, linux-port

#1380 [linux-port] Use cross-platform dynamic lib load
  include/dxc/Support/dxcapi.use.h
  lib/Support/CMakeLists.txt
  tools/clang/tools/dxcompiler/dxillib.cpp
Labels: enhancement, linux-port

#1377 [linux-port] Enable cross-platform interfaces.
  include/dxc/dxcapi.h
  include/dxc/dxcisense.h
  include/dxc/dxctools.h
  lib/HLSL/DxilContainerReflection.cpp
  tools/clang/tools/dxcompiler/dxcapi.cpp
Labels: linux-port

#1383 [macos-port] Allow dxc and tests to run on mac
  include/dxc/Support/Global.h
  lib/DxcSupport/HLSLOptions.cpp
  lib/DxcSupport/dxcmem.cpp
  lib/Support/regerror.c
  lib/Support/regex_impl.h
  tools/clang/tools/dxcompiler/DXCompiler.cpp
Labels: mac-os-port

#1384 [linux-port] Enables the DXC main on Unix.
  include/dxc/Support/WinAdapter.h
  lib/DxcSupport/dxcmem.cpp
  tools/clang/tools/dxc/dxc.cpp
Labels: linux-port

#1388 [linux-port] Set correct permissions on new files
  lib/DxcSupport/WinFunctions.cpp
  tools/clang/test/CodeGenSPIRV/passthru-ps.Debug.dxil
  tools/clang/test/CodeGenSPIRV/passthru-ps.Release.dxil
Labels: linux-port, spirv

#1389 [linux-port] Add documentation file for Linux/macOS port.
  README.md
  docs/DxcOnUnix.rst
Labels: linux-port
