Repository microsoft/DirectXShaderCompiler, pull requests merged in 2018-05, with the labels that each got.

#1288 [linux-port] Avoid using enum class as set key
  lib/HLSL/DxilValidation.cpp
Labels: linux-port

#1296 [spirv] Function parameter evaluation order
  tools/clang/lib/SPIRV/DeclResultIdMapper.cpp
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
Labels: linux-port, spirv

#1294 [appveyor] Package more build artifacts
  appveyor.yml
Labels: ci

#1293 [spirv] Avoid creating temporary variables for local variables
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
  tools/clang/test/CodeGenSPIRV/fn.param.inout.hlsl
  tools/clang/test/CodeGenSPIRV/fn.param.inout.no-copy.hlsl
  tools/clang/test/CodeGenSPIRV/fn.param.inout.vector.hlsl
  tools/clang/unittests/SPIRV/CodeGenSPIRVTest.cpp
Labels: spirv

#1297 Fix cmake for non-appveyor buildbot environments.
  CMakeLists.txt
Labels: ci

#1299 [linux-port] Fix a handful of warnings in headers
  include/dxc/HLSL/DxilConstants.h
  tools/clang/include/clang/AST/HlslTypes.h
  tools/clang/include/clang/AST/Type.h
  tools/clang/lib/CodeGen/CGHLSLMS.cpp
Labels: enhancement, linux-port

#1307 [linux-port] Compile improvements (helps gcc).
  include/dxc/HLSL/DxilOperations.h
  lib/HLSL/DxilDebugInstrumentation.cpp
  lib/HLSL/DxilOperations.cpp
  lib/HLSL/DxilShaderModel.cpp
  lib/Transforms/Scalar/ScalarReplAggregatesHLSL.cpp
Labels: enhancement, linux-port

#1309 [linux-port] Use llvm::sys::Atomic*
  include/dxc/Support/microcom.h
  lib/DxcSupport/FileIOHelper.cpp
  tools/clang/tools/dxr/CMakeLists.txt
  tools/clang/unittests/HLSL/CompilationResult.h
  tools/clang/unittests/HLSL/HlslTestUtils.h
  tools/clang/unittests/HLSLHost/CMakeLists.txt
Labels: enhancement, linux-port

#1311 [spirv] None (0x0) is an invalid Image Operand.
  tools/clang/lib/SPIRV/InstBuilderManual.cpp
  tools/clang/test/CodeGenSPIRV/texture.sample.hlsl
Labels: spirv

#1310 [linux-port] More compile improvement (helps GCC).
  include/dxc/HLSL/DxilOperations.h
  lib/HLSL/DxilOperations.cpp
  lib/Transforms/Scalar/ScalarReplAggregatesHLSL.cpp
  tools/clang/lib/CodeGen/BackendUtil.cpp
  tools/clang/lib/CodeGen/CodeGenModule.cpp
Labels: enhancement, linux-port

#1316 [linux-port] Scalar initialization warnings
  include/dxc/HLSL/DxilSignatureAllocator.h
  lib/HLSL/DxilContainerAssembler.cpp
  lib/HLSL/HLMatrixLowerPass.cpp
  tools/clang/lib/Sema/SemaHLSL.cpp
Labels: enhancement, linux-port

#1319 [linux-port] Mark all overridden methods
  include/dxc/Support/dxcapi.impl.h
  include/dxc/Support/microcom.h
  lib/DxcSupport/FileIOHelper.cpp
  lib/HLSL/DxcOptimizer.cpp
  tools/clang/lib/CodeGen/CGHLSLMS.cpp
  tools/clang/tools/dxc/dxc.cpp
  tools/clang/tools/dxcompiler/dxcassembler.cpp
  tools/clang/tools/dxcompiler/dxclibrary.cpp
  tools/clang/tools/dxcompiler/dxcompilerobj.cpp
  tools/clang/tools/dxcompiler/dxcontainerbuilder.cpp
  tools/clang/tools/dxcompiler/dxcvalidator.cpp
  tools/clang/tools/libclang/dxcrewriteunused.cpp
Labels: enhancement, linux-port

#1323 [linux-port] Fix preprocessor warnings
  lib/HLSL/HLOperations.cpp
  tools/clang/lib/CodeGen/CGClass.cpp
  tools/clang/lib/Frontend/FrontendAction.cpp
  tools/clang/lib/Sema/SemaChecking.cpp
  tools/clang/tools/dxcompiler/dxcfilesystem.cpp
  tools/clang/tools/dxcompiler/dxcutil.cpp
Labels: enhancement, linux-port

#1324 [linux-port] Correct const casts
  include/dxc/HLSL/DxilPipelineStateValidation.h
  lib/DxcSupport/FileIOHelper.cpp
  lib/HLSL/DxilMetadataHelper.cpp
  lib/HLSL/DxilRootSignature.cpp
  tools/clang/tools/dxc/dxc.cpp
  tools/clang/tools/dxcompiler/dxcdisassembler.cpp
  tools/clang/tools/dxcompiler/dxcfilesystem.cpp
Labels: enhancement, linux-port

#1192 use prettyxml to generate ShaderOpArithTable.xml
  tools/clang/unittests/HLSL/ShaderOpArithTable.xml
  utils/hct/hctdb_test.py
Labels: test

#1329 [linux-port] Fix anonymous struct warnings
  include/dxc/Support/WinIncludes.h
  lib/DxcSupport/FileIOHelper.cpp
  tools/clang/tools/dxcompiler/dxcfilesystem.cpp
  tools/clang/tools/dxr/dxr.cpp
Labels: enhancement, linux-port

#1320 [linux-port] Fix warnings from lambda functions
  lib/Target/TargetMachine.cpp
  tools/clang/lib/AST/MicrosoftMangle.cpp
  tools/clang/lib/CodeGen/CGStmtOpenMP.cpp
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
Labels: enhancement, linux-port

#1322 [linux-port] Fix DXASSERT warnings
  include/dxc/Support/Global.h
  lib/HLSL/DxilGenerationPass.cpp
  lib/HLSL/DxilSignatureElement.cpp
  lib/HLSL/HLMatrixLowerPass.cpp
  lib/HLSL/HLModule.cpp
  lib/HLSL/HLOperationLower.cpp
  lib/HLSL/HLSignatureLower.cpp
  lib/Transforms/Scalar/ScalarReplAggregatesHLSL.cpp
  tools/clang/lib/CodeGen/CGHLSLMS.cpp
  tools/clang/unittests/HLSL/ExecutionTest.cpp
  tools/clang/unittests/HLSL/ShaderOpTest.cpp
Labels: enhancement, linux-port
