Repository microsoft/DirectXShaderCompiler, pull requests merged in 2019-03, with the labels that each got.

#1940 [spirv] Handle failures properly so error messages bubble up.
  tools/clang/lib/SPIRV/SpirvEmitter.cpp
  tools/clang/test/CodeGenSPIRV/fn.param.unsized-array.hlsl
  tools/clang/unittests/SPIRV/CodeGenSpirvTest.cpp
Labels: spirv

#1944 [spirv] Refactor and add more unit tests
  tools/clang/lib/SPIRV/SpirvInstruction.cpp
  tools/clang/unittests/SPIRV/CMakeLists.txt
  tools/clang/unittests/SPIRV/SpirvConstantTest.cpp
  tools/clang/unittests/SPIRV/SpirvContextTest.cpp
  tools/clang/unittests/SPIRV/SpirvTestBase.h
  tools/clang/unittests/SPIRV/SpirvTypeTest.cpp
Labels: spirv

#1945 [spirv] Cleanup old included headers.
  tools/clang/include/clang/SPIRV/SpirvBuilder.h
  tools/clang/include/clang/SPIRV/SpirvContext.h
  tools/clang/include/clang/SPIRV/SpirvFunction.h
  tools/clang/include/clang/SPIRV/SpirvModule.h
  tools/clang/lib/SPIRV/DeclResultIdMapper.cpp
  tools/clang/lib/SPIRV/EmitVisitor.cpp
  tools/clang/lib/SPIRV/LiteralTypeVisitor.cpp
  tools/clang/lib/SPIRV/LiteralTypeVisitor.h
  tools/clang/lib/SPIRV/SpirvFunction.cpp
  tools/clang/lib/SPIRV/SpirvModule.cpp
Labels: spirv

#1994 [spirv] Clean up extension & capability management.
  tools/clang/include/clang/SPIRV/SpirvBuilder.h
  tools/clang/lib/SPIRV/CapabilityVisitor.cpp
  tools/clang/lib/SPIRV/CapabilityVisitor.h
  tools/clang/lib/SPIRV/DeclResultIdMapper.cpp
  tools/clang/lib/SPIRV/SpirvBuilder.cpp
  tools/clang/lib/SPIRV/SpirvEmitter.cpp
  tools/clang/lib/SPIRV/SpirvModule.cpp
Labels: spirv

#2003 [spirv] Remove unused type result-IDs from SpirvFunction.
  tools/clang/include/clang/SPIRV/SpirvFunction.h
  tools/clang/lib/SPIRV/EmitVisitor.cpp
  tools/clang/lib/SPIRV/SpirvFunction.cpp
Labels: enhancement, spirv

#2000 [spirv] Fix handling of literals for constants.
  tools/clang/include/clang/SPIRV/SpirvInstruction.h
  tools/clang/include/clang/SPIRV/SpirvModule.h
  tools/clang/lib/SPIRV/LowerTypeVisitor.cpp
  tools/clang/lib/SPIRV/SpirvInstruction.cpp
  tools/clang/lib/SPIRV/SpirvModule.cpp
  tools/clang/test/CodeGenSPIRV/literal.constant-composite.hlsl
  tools/clang/test/CodeGenSPIRV/literal.unused.hlsl
  tools/clang/test/CodeGenSPIRV/literal.vec-times-scalar.hlsl
  tools/clang/unittests/SPIRV/CodeGenSpirvTest.cpp
Labels: spirv

#2005 [spirv] (Spec)ConstantComposite are handled by SpirvConstant classes.
  tools/clang/include/clang/SPIRV/SpirvBuilder.h
  tools/clang/include/clang/SPIRV/SpirvInstruction.h
  tools/clang/include/clang/SPIRV/SpirvVisitor.h
  tools/clang/lib/SPIRV/EmitVisitor.cpp
  tools/clang/lib/SPIRV/EmitVisitor.h
  tools/clang/lib/SPIRV/LiteralTypeVisitor.cpp
  tools/clang/lib/SPIRV/LiteralTypeVisitor.h
  tools/clang/lib/SPIRV/SpirvBuilder.cpp
  tools/clang/lib/SPIRV/SpirvInstruction.cpp
Labels: spirv

#1915 [spirv] Propagate RelaxedPrecision decoration.
  tools/clang/include/clang/SPIRV/SpirvBuilder.h
  tools/clang/include/clang/SPIRV/SpirvFunction.h
  tools/clang/include/clang/SPIRV/SpirvType.h
  tools/clang/lib/SPIRV/AstTypeProbe.cpp
  tools/clang/lib/SPIRV/CMakeLists.txt
  tools/clang/lib/SPIRV/EmitVisitor.cpp
  tools/clang/lib/SPIRV/LowerTypeVisitor.cpp
  tools/clang/lib/SPIRV/RelaxedPrecisionVisitor.cpp
  tools/clang/lib/SPIRV/RelaxedPrecisionVisitor.h
  tools/clang/lib/SPIRV/SpirvBuilder.cpp
  tools/clang/lib/SPIRV/SpirvEmitter.cpp
  tools/clang/lib/SPIRV/SpirvFunction.cpp
  tools/clang/lib/SPIRV/SpirvType.cpp
  tools/clang/test/CodeGenSPIRV/decoration.relaxed-precision.basic.hlsl
  tools/clang/test/CodeGenSPIRV/decoration.relaxed-precision.image.hlsl
  tools/clang/test/CodeGenSPIRV/decoration.relaxed-precision.struct.hlsl
  tools/clang/unittests/SPIRV/CodeGenSpirvTest.cpp
Labels: spirv

#1998 [spirv] Set assignment for second param of modf()
  tools/clang/lib/SPIRV/SpirvEmitter.cpp
  tools/clang/test/CodeGenSPIRV/intrinsics.modf.swizzle.hlsl
  tools/clang/unittests/SPIRV/CodeGenSpirvTest.cpp
Labels: spirv

#2011 [spirv] Use llvm::ilist to store instructions in BB.
  tools/clang/include/clang/SPIRV/SpirvBasicBlock.h
  tools/clang/lib/SPIRV/SpirvBasicBlock.cpp
  tools/clang/unittests/SPIRV/SpirvBasicBlockTest.cpp
Labels: spirv

#2004 [spirv] Handle type mismatch for out/inout fn params.
  tools/clang/lib/SPIRV/SpirvEmitter.cpp
  tools/clang/test/CodeGenSPIRV/fn.param.inout.type-mismatch.hlsl
  tools/clang/unittests/SPIRV/CodeGenSpirvTest.cpp
Labels: spirv

#2024 [spirv] Support HLSL 'precise' keyword
  tools/clang/include/clang/SPIRV/SpirvBuilder.h
  tools/clang/include/clang/SPIRV/SpirvFunction.h
  tools/clang/include/clang/SPIRV/SpirvInstruction.h
  tools/clang/include/clang/SPIRV/SpirvType.h
  tools/clang/lib/SPIRV/CMakeLists.txt
  tools/clang/lib/SPIRV/DeclResultIdMapper.cpp
  tools/clang/lib/SPIRV/EmitVisitor.cpp
  tools/clang/lib/SPIRV/GlPerVertex.cpp
  tools/clang/lib/SPIRV/GlPerVertex.h
  tools/clang/lib/SPIRV/LowerTypeVisitor.cpp
  tools/clang/lib/SPIRV/PreciseVisitor.cpp
  tools/clang/lib/SPIRV/PreciseVisitor.h
  tools/clang/lib/SPIRV/SpirvBuilder.cpp
  tools/clang/lib/SPIRV/SpirvEmitter.cpp
  tools/clang/lib/SPIRV/SpirvFunction.cpp
  tools/clang/lib/SPIRV/SpirvInstruction.cpp
  tools/clang/lib/SPIRV/SpirvType.cpp
  tools/clang/test/CodeGenSPIRV/decoration.no-contraction.hlsl
  tools/clang/test/CodeGenSPIRV/decoration.no-contraction.stage-vars.hlsl
  tools/clang/test/CodeGenSPIRV/decoration.no-contraction.struct.hlsl
  tools/clang/test/CodeGenSPIRV/decoration.no-contraction.variable-reuse.hlsl
  tools/clang/unittests/SPIRV/CodeGenSpirvTest.cpp
  tools/clang/unittests/SPIRV/SpirvTypeTest.cpp
Labels: spirv

#2041 [spirv] Support struct -> struct FlatConversion.
  tools/clang/lib/SPIRV/AstTypeProbe.cpp
  tools/clang/lib/SPIRV/SpirvEmitter.cpp
  tools/clang/test/CodeGenSPIRV/cast.flat-conversion.struct-to-struct.hlsl
  tools/clang/test/CodeGenSPIRV/cast.flat-conversion.struct.hlsl
  tools/clang/unittests/SPIRV/CodeGenSpirvTest.cpp
Labels: spirv

#2021 [spirv] fix ConsumeStructuredBuffer<bool> bug
  tools/clang/lib/SPIRV/SpirvEmitter.cpp
  tools/clang/test/CodeGenSPIRV/type.append.consume-structured-buffer.cast.hlsl
  tools/clang/unittests/SPIRV/CodeGenSpirvTest.cpp
Labels: spirv

#2062 [spirv] convertBitwidth should do nothing for literal types.
  tools/clang/lib/SPIRV/SpirvEmitter.cpp
  tools/clang/test/CodeGenSPIRV/var.init.struct.hlsl
Labels: spirv

#2070 [spirv] Remove createBinaryOp API which uses SpirvType.
  tools/clang/include/clang/SPIRV/SpirvBuilder.h
  tools/clang/lib/SPIRV/SpirvBuilder.cpp
Labels: spirv

#2066 [spirv] Handle parentheses in vector swizzling.
  tools/clang/lib/SPIRV/SpirvEmitter.cpp
  tools/clang/test/CodeGenSPIRV/op.vector.swizzle.hlsl
Labels: spirv

#2060 [spirv] Fix type cast array to vector bug
  tools/clang/lib/SPIRV/InitListHandler.cpp
  tools/clang/lib/SPIRV/InitListHandler.h
  tools/clang/lib/SPIRV/SpirvBuilder.cpp
  tools/clang/test/CodeGenSPIRV/cast.flat-conversion.array-to-vector.hlsl
  tools/clang/test/CodeGenSPIRV/cast.flat-conversion.struct-to-struct.hlsl
  tools/clang/test/CodeGenSPIRV/cast.flat-conversion.struct.hlsl
  tools/clang/test/CodeGenSPIRV/cast.flat-conversion.vector.hlsl
  tools/clang/test/CodeGenSPIRV/var.init.array.hlsl
  tools/clang/test/CodeGenSPIRV/var.init.extvector.hlsl
  tools/clang/test/CodeGenSPIRV/var.init.hlsl
  tools/clang/test/CodeGenSPIRV/var.init.matrix.1xn.hlsl
  tools/clang/test/CodeGenSPIRV/var.init.matrix.mx1.hlsl
  tools/clang/test/CodeGenSPIRV/var.init.matrix.mxn.hlsl
  tools/clang/test/CodeGenSPIRV/var.init.opaque.hlsl
  tools/clang/test/CodeGenSPIRV/var.init.struct.hlsl
  tools/clang/test/CodeGenSPIRV/var.init.vec.size.1.hlsl
  tools/clang/unittests/SPIRV/CodeGenSpirvTest.cpp
Labels: bug, spirv

#2068 [spirv] support half zero constant correctly
  tools/clang/lib/SPIRV/SpirvEmitter.cpp
  tools/clang/test/CodeGenSPIRV/constant.scalar.16bit.enabled.half.zero.hlsl
  tools/clang/test/CodeGenSPIRV/ternary-op.cond-op.hlsl
  tools/clang/unittests/SPIRV/CodeGenSpirvTest.cpp
Labels: bug, spirv
