Repository microsoft/DirectXShaderCompiler, pull requests merged in 2019-08, with the labels that each got.

#2330 [spirv] support enum type
  tools/clang/include/clang/SPIRV/AstTypeProbe.h
  tools/clang/lib/SPIRV/AlignmentSizeCalculator.cpp
  tools/clang/lib/SPIRV/AstTypeProbe.cpp
  tools/clang/lib/SPIRV/DeclResultIdMapper.cpp
  tools/clang/lib/SPIRV/DeclResultIdMapper.h
  tools/clang/lib/SPIRV/LowerTypeVisitor.cpp
  tools/clang/lib/SPIRV/SpirvEmitter.cpp
  tools/clang/lib/SPIRV/SpirvEmitter.h
  tools/clang/test/CodeGenSPIRV/raytracing.nv.enum.hlsl
  tools/clang/test/CodeGenSPIRV/type.enum.hlsl
  tools/clang/unittests/SPIRV/CodeGenSpirvTest.cpp
Labels: spirv

#2390 [spirv] Add mesh/amplification shader tests for use of buffers and fn calls
  docs/SPIR-V.rst
  tools/clang/test/CodeGenSPIRV/meshshading.nv.buffer.mesh.hlsl
  tools/clang/test/CodeGenSPIRV/meshshading.nv.fncall.amplification.hlsl
  tools/clang/unittests/SPIRV/CodeGenSpirvTest.cpp
Labels: spirv

#2396 [spirv] Add comments and missing initializations for mesh shader implementation
  tools/clang/lib/SPIRV/DeclResultIdMapper.h
  tools/clang/lib/SPIRV/GlPerVertex.cpp
  tools/clang/lib/SPIRV/SpirvEmitter.h
Labels: spirv

#2397 [spirv] Add option to flatten array of resources.
  docs/SPIR-V.rst
  include/dxc/Support/HLSLOptions.td
  include/dxc/Support/SPIRVOptions.h
  lib/DxcSupport/HLSLOptions.cpp
  tools/clang/lib/SPIRV/DeclResultIdMapper.cpp
  tools/clang/lib/SPIRV/DeclResultIdMapper.h
  tools/clang/lib/SPIRV/SpirvEmitter.cpp
  tools/clang/test/CodeGenSPIRV/vk.binding.cl.flatten-arrays.error.hlsl
  tools/clang/test/CodeGenSPIRV/vk.binding.cl.flatten-arrays.example1-optimized.hlsl
  tools/clang/test/CodeGenSPIRV/vk.binding.cl.flatten-arrays.example1.hlsl
  tools/clang/test/CodeGenSPIRV/vk.binding.cl.flatten-arrays.example2-optimized.hlsl
  tools/clang/test/CodeGenSPIRV/vk.binding.cl.flatten-arrays.example2.hlsl
  tools/clang/unittests/SPIRV/CodeGenSpirvTest.cpp
Labels: spirv

#2404 Support UUID for clang build
  cmake/modules/HandleLLVMOptions.cmake
  include/dxc/Support/WinAdapter.h
Labels: build, linux-port, spirv

#2420 Update CLSID scope
  include/dxc/dxcapi.h
  include/dxc/dxcisense.h
  include/dxc/dxctools.h
Labels: build, linux-port

#2411 [spirv] Fix struct member offsets for templated buffer load.
  tools/clang/lib/SPIRV/RawBufferMethods.cpp
  tools/clang/lib/SPIRV/RawBufferMethods.h
  tools/clang/test/CodeGenSPIRV/method.byte-address-buffer.templated-load.struct.hlsl
  tools/clang/test/CodeGenSPIRV/method.byte-address-buffer.templated-load.struct2.hlsl
  tools/clang/unittests/SPIRV/CodeGenSpirvTest.cpp
Labels: spirv

#2417 [spirv] Ensure loop unroll is run before descriptor scalar replacement.
  docs/SPIR-V.rst
  tools/clang/lib/SPIRV/SpirvEmitter.cpp
  tools/clang/test/CodeGenSPIRV/vk.binding.cl.flatten-arrays.example3.hlsl
  tools/clang/unittests/SPIRV/CodeGenSpirvTest.cpp
Labels: spirv
