Repository microsoft/DirectXShaderCompiler, pull requests merged in 2022-03, with the labels that each got.

#4317 Make external sema source handle type completion
  tools/clang/lib/AST/ASTContextHLSL.cpp
  tools/clang/lib/Sema/SemaHLSL.cpp
  tools/clang/test/HLSLFileCheck/hlsl/template/InstantiateObjectMethods.hlsl
Labels: hlsl2021

#4243 [spirv] Fix typo: 'vulkan1.3' was linked to SPV_ENV_UNIVERSAL_1_6
  tools/clang/lib/SPIRV/FeatureManager.cpp
Labels: spirv

#4323 [dxil2spv] Implement simple entry function creation
  tools/clang/include/clang/SPIRV/SpirvBuilder.h
  tools/clang/include/clang/SPIRV/SpirvFunction.h
  tools/clang/include/clang/SPIRV/SpirvInstruction.h
  tools/clang/include/clang/SPIRV/SpirvUtils.h
  tools/clang/lib/SPIRV/CMakeLists.txt
  tools/clang/lib/SPIRV/SpirvBuilder.cpp
  tools/clang/lib/SPIRV/SpirvEmitter.cpp
  tools/clang/lib/SPIRV/SpirvEmitter.h
  tools/clang/lib/SPIRV/SpirvFunction.cpp
  tools/clang/lib/SPIRV/SpirvInstruction.cpp
  tools/clang/lib/SPIRV/SpirvUtils.cpp
  tools/clang/test/Dxil2Spv/passthru-ps.ll
  tools/clang/tools/dxil2spv/lib/dxil2spv.cpp
  tools/clang/tools/dxil2spv/lib/dxil2spv.h
Labels: dxil2spv

#4328 [dxil2spv] SPIR-V validation and related fixes
  tools/clang/include/clang/SPIRV/SpirvUtils.h
  tools/clang/lib/SPIRV/CMakeLists.txt
  tools/clang/lib/SPIRV/LowerTypeVisitor.cpp
  tools/clang/lib/SPIRV/SpirvBuilder.cpp
  tools/clang/lib/SPIRV/SpirvTypeVisitor.cpp
  tools/clang/lib/SPIRV/SpirvTypeVisitor.h
  tools/clang/lib/SPIRV/SpirvUtils.cpp
  tools/clang/test/Dxil2Spv/passthru-ps.ll
  tools/clang/tools/dxil2spv/lib/dxil2spv.cpp
  tools/clang/tools/dxil2spv/lib/dxil2spv.h
Labels: dxil2spv

#4337 [dxil2spv] Add passthrough vertex shader and test
  tools/clang/test/Dxil2Spv/passthru-vs.ll
  tools/clang/tools/dxil2spv/lib/dxil2spv.cpp
  tools/clang/unittests/Dxil2Spv/LitTest.cpp
Labels: dxil2spv

#4345 [dxil2spv] Add initial compute shader support
  tools/clang/test/Dxil2Spv/passthru-cs.ll
  tools/clang/tools/dxil2spv/lib/dxil2spv.cpp
  tools/clang/tools/dxil2spv/lib/dxil2spv.h
  tools/clang/unittests/Dxil2Spv/LitTest.cpp
Labels: dxil2spv

#4362 [spirv] fix source info bug for in-memory source code
  tools/clang/lib/SPIRV/EmitVisitor.cpp
  tools/clang/lib/SPIRV/EmitVisitor.h
  tools/clang/unittests/SPIRV/CodeGenSpirvTest.cpp
Labels: spirv
