Repository microsoft/DirectXShaderCompiler, pull requests merged in 2022-02, with the labels that each got.

#4216 [dxil2spv] Construct minimal SPIR-V module
  tools/clang/include/clang/SPIRV/SpirvBuilder.h
  tools/clang/lib/SPIRV/EmitVisitor.cpp
  tools/clang/lib/SPIRV/EmitVisitor.h
  tools/clang/lib/SPIRV/SpirvBuilder.cpp
  tools/clang/tools/dxil2spv/CMakeLists.txt
  tools/clang/tools/dxil2spv/dxil2spvmain.cpp
Labels: dxil2spv

#4222 [dxil2spv] Add initial testing
  tools/clang/test/Dxil2Spv/passthru-ps.ll
  tools/clang/tools/dxil2spv/CMakeLists.txt
  tools/clang/tools/dxil2spv/dxil2spvmain.cpp
  tools/clang/tools/dxil2spv/lib/CMakeLists.txt
  tools/clang/tools/dxil2spv/lib/dxil2spv.cpp
  tools/clang/tools/dxil2spv/lib/dxil2spv.h
  tools/clang/unittests/CMakeLists.txt
  tools/clang/unittests/Dxil2Spv/CMakeLists.txt
  tools/clang/unittests/Dxil2Spv/Dxil2SpvTestOptions.cpp
  tools/clang/unittests/Dxil2Spv/Dxil2SpvTestOptions.h
  tools/clang/unittests/Dxil2Spv/FileTestUtils.cpp
  tools/clang/unittests/Dxil2Spv/FileTestUtils.h
  tools/clang/unittests/Dxil2Spv/LitTest.cpp
  tools/clang/unittests/Dxil2Spv/TestMain.cpp
  tools/clang/unittests/Dxil2Spv/WholeFileTestFixture.cpp
  tools/clang/unittests/Dxil2Spv/WholeFileTestFixture.h
Labels: dxil2spv

#4225 [spirv] add predefined macro '__spirv'
  docs/SPIR-V.rst
  tools/clang/lib/Frontend/InitPreprocessor.cpp
  tools/clang/test/CodeGenSPIRV/ifdef.spirv.hlsl
  tools/clang/test/HLSLFileCheck/hlsl/preprocessor/spirv/define_spirv.hlsl
  tools/clang/unittests/SPIRV/CodeGenSpirvTest.cpp
Labels: spirv

#4229 [dxil2spv] Add CompilerInstance object
  tools/clang/tools/dxil2spv/dxil2spvmain.cpp
  tools/clang/tools/dxil2spv/lib/dxil2spv.cpp
  tools/clang/tools/dxil2spv/lib/dxil2spv.h
  tools/clang/unittests/Dxil2Spv/FileTestUtils.cpp
Labels: dxil2spv

#4242 Rename UTF16 to Wide
  include/dxc/Support/DxcLangExtensionsCommonHelper.h
  include/dxc/Support/FileIOHelper.h
  include/dxc/Support/HLSLOptions.h
  include/dxc/Support/HLSLOptions.td
  include/dxc/Support/Unicode.h
  include/dxc/Support/dxcapi.impl.h
  include/dxc/Test/DxcTestUtils.h
  include/dxc/Test/HlslTestUtils.h
  include/dxc/dxcapi.h
  lib/DxcSupport/FileIOHelper.cpp
  lib/DxcSupport/HLSLOptions.cpp
  lib/DxcSupport/Unicode.cpp
  lib/DxcSupport/dxcapi.use.cpp
  lib/DxilDia/DxilDia.cpp
  lib/DxilDia/DxilDiaSymbolManager.cpp
  lib/HLSL/DxcOptimizer.cpp
  lib/HLSL/DxilPatchShaderRecordBindings.cpp
  tools/clang/tools/dxa/dxa.cpp
  tools/clang/tools/dxclib/dxc.cpp
  tools/clang/tools/dxcompiler/dxcfilesystem.cpp
  tools/clang/tools/dxcompiler/dxclibrary.cpp
  tools/clang/tools/dxcompiler/dxcompilerobj.cpp
  tools/clang/tools/dxcompiler/dxcpdbutils.cpp
  tools/clang/tools/dxil2spv/dxil2spvmain.cpp
  tools/clang/tools/dxlib-sample/lib_share_compile.cpp
  tools/clang/tools/dxopt/dxopt.cpp
  tools/clang/tools/dxrfallbackcompiler/dxcdxrfallbackcompiler.cpp
  tools/clang/tools/dxv/dxv.cpp
  tools/clang/unittests/Dxil2Spv/FileTestUtils.cpp
  tools/clang/unittests/HLSL/CompilerTest.cpp
  tools/clang/unittests/HLSL/DxilContainerTest.cpp
  tools/clang/unittests/HLSL/ExecutionTest.cpp
  tools/clang/unittests/HLSL/OptionsTest.cpp
  tools/clang/unittests/HLSL/RewriterTest.cpp
  tools/clang/unittests/HLSL/ShaderOpTest.cpp
  tools/clang/unittests/HLSLErrors/HLSLErrors.cpp
  tools/clang/unittests/HLSLTestLib/DxcTestUtils.cpp
  tools/clang/unittests/HLSLTestLib/FileCheckerTest.cpp
  tools/clang/unittests/dxc_batch/dxc_batch.cpp
Labels: linux

#4258 [spirv] Generate correct Shader.DebugInfo for runtime arrays.
  tools/clang/lib/SPIRV/DebugTypeVisitor.cpp
  tools/clang/test/CodeGenSPIRV/shader.debug.runtimearray.hlsl
  tools/clang/unittests/SPIRV/CodeGenSpirvTest.cpp
Labels: spirv

#4270 [spirv] change __spirv definition to __spirv__
  docs/SPIR-V.rst
  tools/clang/lib/Frontend/InitPreprocessor.cpp
  tools/clang/test/CodeGenSPIRV/ifdef.spirv.hlsl
  tools/clang/test/HLSLFileCheck/hlsl/preprocessor/version_defines/define_spirv.hlsl
Labels: spirv
